<ion-view title="Mon Compte" id="page3">
  <ion-nav-buttons side="right">
    <button class="button" icon="ion-power" ng-click="logout()">
      <i class="icon ion-power"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div id="home-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Récapitulatif des informations UCOPIA</p>
    </div>
    <div class="list card">
      <a class="item item-icon-left">
        <i class="icon ion-home"></i>
        identifiant
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-home"></i>
        Forfait
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-home"></i>
        Déconnexion auto
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Numéro de téléphone
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-home"></i>
        Email
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>
    <a ui-sref="sLectionDuForfait" id="home-button6" class="button button-assertive  button-block">Charger mon compte</a>
    <a ui-sref="sLectionDuForfait" id="home-button7" class="button button-balanced  button-block">Modifier mes informations</a>

  </ion-content>
</ion-view>
