<ion-view title="AIRTEL" id="page10">
    <ion-nav-buttons side="right">
        <button class="button" icon="ion-power" ng-click="logout()">
      <i class="icon ion-power"></i>
    </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <!--
    <div class="spacer" style="height: 30px;"></div>
    <div id="aIRTEL-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Saisissez les informations de votre compte AIRTEL Money</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <form id="aIRTEL-form9" class="list">
      <label class="item item-input" id="aIRTEL-input17">
        <span class="input-label" >Téléphone</span>
        <input type="text" placeholder="" data-ng-init="value.phone = 'phone'" id="phone" name="phone" ng-model="value.phone">
      </label>
      <label class="item item-input" id="aIRTEL-input19">
        <span class="input-label" >Code secret</span>
        <input type="text" placeholder="" data-ng-init="value.secret = 'code secret'" id="secret" name="secret" ng-model="value.secret">
      </label>
      <button id="aIRTEL-button10" class="button button-assertive  button-block" ng-click='fluxAIRTEL(value);'>Payer !</button>
    </form>
-->
        <p>
            {{status}}
        </p>

    </ion-content>
</ion-view>
