<ion-view title="Clients Azur" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div id="clientsAzur-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p>
            Numéro de compte <a href="http://market.ionic.io/starters" target="_blank">{{accountId}}</a>.
        </p>
        <p>
            Montant débité <a href="http://market.ionic.io/starters" target="_blank">{{amount}}</a>.
        </p>
        <p>
            Votre solde <a href="http://market.ionic.io/starters" target="_blank">{{balance}}</a>.
        </p>
    </div>
  </ion-content>
</ion-view>