<ion-view title="Accueil" id="page3">
  <ion-nav-buttons side="right">
    <button class="button" icon="ion-power" ng-click="logout()">
      <i class="icon ion-power"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div id="home-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Récapitulatif des informations UCOPIA</p>
    </div>
    <div class="list card">
      <a class="item item-icon-left" ng-if="useruserName">
        <b>Identifiant</b>
        {{ useruserName }}
      </a>
      <a class="item item-icon-left" ng-if="userProfile">
        <b>Forfait utilisé</b>
        {{ userProfile }}
      </a>
        <a class="item item-icon-left" ng-if="bande_passante">
            <b>Bande Passante</b>
            {{ bande_passante }}
        </a>
      <a class="item item-icon-left" ng-if="userautoDisconnect">
        <b>Reconnexion auto</b>
        {{ userautoDisconnect }}
      </a>

      <a class="item item-icon-left" ng-if="userValidity">
        <b>Validité</b> Jusqu'au
        {{ userValidity }}
      </a>
      <a class="item item-icon-left">
        <b>Données consommées</b>
          {{ debit_descendant }} descendant, {{ debit_montant}} montant
      </a>
      <a class="item item-icon-left" >
        <b>Données restantes</b>
        {{ reste_descendant }} descendant, {{ reste_montant }} montant
      </a>



    </div>
    <a ui-sref="sLectionDuForfait" id="home-button6" class="button button-assertive  button-block">Charger mon compte</a>
    <!--<a ui-sref="sLectionDuForfait" id="home-button7" class="button button-balanced  button-block">Consulter Compte</a>-->

  </ion-content>
</ion-view>
